<h1>Adding new Content</h1>

<template *ngIf="id">
<label>ID:
<input [(ngModel)]="id">
</label><br>
</template>

<label>Name:
<input [(ngModel)]="itemToAdd.name">
</label><br>

<label>Description:
<input [(ngModel)]="itemToAdd.description">
</label><br>

<label>Author:
<input [(ngModel)]="itemToAdd.author">
</label><br>

<label>Image:
<input [(ngModel)]="itemToAdd.imgSrc">
</label><br>

<label>Type:
<input [(ngModel)]="itemToAdd.type">
</label><br>

<input type="button" value="Add" (click)="add()">
